$titles-color: #96b011;
$titles-family: 'Amaranth', sans-serif;
$media-large-desktop-max: 1400px;
$media-normal-desktop-max: 1200px;
$media-tablet-max: 992px;
$media-mobile-max: 768px;
$media-small-mobile-max: 576px;
