*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: lightgray;
}
body > div.container{
    background-color: #fffdf8;
}
div.cells-array{
    margin: 0 5px;
}
form{
    background-color: #f0efeb;
}
#virtualKb > button{
    width: 45px;
    border: 2px solid #4C8577;
    margin: 2px 2px;
    color: #ffffff;
    border-radius: 12px;
    box-shadow:  2px 3px 1px cornflowerblue;
    background-color: #465362;
    text-align: center;
    text-transform: uppercase;
}
#virtualKb > button:hover{
    box-shadow: none;
    color: black;
    background-color: #ffffff; !important;
}